* {
  margin: 0;
  padding: 0;
}

  body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
  }
  
  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }

  .title{
    display: flex;
    position: fixed;
    top: 30%;
    left: 255px;
    color: white;
    font-size: 50px;
    margin-top: 70px;
}
.position{
    display: flex;
    position: fixed;
    top: 40%;
    left: 340px;
    color: rgb(0, 251, 255);
    animation: changeColor 5s linear infinite;
    font-size: 45px;
    margin-top: 90px;
}

@keyframes changeColor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35%;
    right: 350px;
    gap: 70px;
  }

  button {
    width: 350px;
    height: 45px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: black;
   }
   
   button:active:before {
    background: #b9b9b9;
   }  
  
  @media (max-width: 768px) {
    /* Styles for screens up to 768px width */
    .title {
      font-size: 50px;
    }
  
    .position {
      font-size: 45px;
    }
  }
  
  .page {
    display: none;
  }

  .page.active {
    display: block;
  }


  @media (min-width: 480px) {
    /* Styles for screens up to 480px width */
    .title {
      font-size: 40px;
      left: 180px;
    }
  
    .position {
      font-size: 30px;
      left: 280px;
    }

    .container {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 35%;
      right: 200px;
      gap: 60px;
    }

    button {
      width: 350px;
      height: 45px;
      font-size: 30px;
     }
  }